spring:
  mail:
    host: smtp.gmail.com
    port: 587
    username: "*****@gmail.com"
    password: "**** **** **** ****"
    protocol: smtp
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
          connectiontimeout: 5000
          timeout: 3000
          writetimeout: 5000

thymeleaf:
    enabled: true

envio:
  mail:
    remetente: "*****@gmail.com"
    nomeRemetente: "Andrei"

server:
  port: 8082
